/*
    Style of general access pages
*/
body {
    font-family: var(--var-font);
    background-color: var(--var-blue) !important;
}
button:hover {
    cursor: pointer;
}
.card__access {
    background-color: #fff;
    /* border: 1px solid #DFE0EB; */
    /* box-sizing: border-box; */
    /* border-radius: 8px; */
    width: 60%;
    min-height: 385px;
    max-height: 385px;
    padding: 25px 28px;
    border-bottom-left-radius: 85px;
    border-top-right-radius: 85px;
}
.main__access {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
/* .image__access {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.sidebar__img--oby {
    width: 50px;
}

.div_inside_acess {
 display: flex;
 flex-direction: column;
 
}