/*
    Style of all global components
*/
body {
    font-family: var(--var-font);
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.home {
    display: flex;
    background-color: var(--var-gray);
}