/*
    Style of all global components
*/
body {
    font-family: var(--var-font);
    margin: 0;
}

button:hover {
    cursor: pointer;
    transition: 0.2s;
}
svg:hover {
    cursor: pointer;
}
.page {
    display: flex;
    background-color: var(--var-gray);
}
.page__body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 80vw;
    margin-left: 20px;
    margin-right: 20px;
}
.right__infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.main__content {
    display: flex;
    flex-direction: row;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}
.grid__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 100%;
}
.highchart__div {
    width: max-content;
}
.highcharts-axis-title {
    display: none;
}
.link__config {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link__config > .config {
    background-color: transparent;
}
.link__config > .config:hover {
    color: #fff;
}