.h1__access {
    font-weight: 700;
    font-size: 30px;
    color: #162652;
    font-style: normal;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px !important;
    margin: 42px;
    margin-bottom: 40px !important;
}
.h3__access {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #162652;

}
