.page__title {
    font-weight: 500;
    color: #fff;
    font-family: var(--var-font);
    font-size: 22px;
}
.card__title {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
}
.infos {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}
.infos:first-child {
    padding-top: 40px;
}
.title__infos {
    color: #9FA2B4;
    font-family: var(--var-font);
    font-weight: 400;
    font-size: 15px;
}
.span__infos {
    color: black;
    font-family: var(--var-font);
    font-weight: 900;
    font-size: 18px;
    margin-top: 4px;
}
.div__title__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new__register {
    background-color: #0069d9;
    color: #fff;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
}